@model DatabaseFirst.DTOs.ActorViewModel
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Actor</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.actor.ActorId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.actor.ActorId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.actor.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.actor.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.actor.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.actor.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.actor.LastUpdate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.actor.LastUpdate)
        </dd>
    </dl>
</div>

<table>
    @foreach (var item in Model.Films)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FilmId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
        </tr>
    }
</table>

<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.actor.ActorId }) |
    <a asp-action="Index">Back to List</a>
</div>
